@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@theme{
  --color-bluecolor: #1B99D4 ;/* Primary color for the theme */
  --color-greencolor: #27B94E;/* Secondary color for the theme */
  --color-redcolor: #D60000;/* Tertiary color for the theme */
  --color-yellowcolor: #FFA41B;/* Quaternary color for the theme */
  --color-graycolor: #4D607D;/* Quinary color for the theme */
  --color-blackcolor: #000;/* Nonary color for the theme */
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-inter: 'Inter', sans-serif;
}
  body {
    @apply bg-white border-2 border-bluecolor;
  }
  h1{
    @apply text-[#1B99D4] text-center py-1 font-poppins text-base font-semibold leading-[26px] tracking-[1.6px];
  }
  h2{
    @apply text-[#231F40] text-center py-1 font-poppins text-[40px] font-semibold leading-[56px];
  }
  p {
    @apply text-base leading-relaxed;
  }
@layer components {
  .common-link {
    @apply text-[#424352] font-poppins text-base font-medium leading-6 tracking-[0.5px] hover:text-sky-500 transition duration-300 ease-in-out cursor-pointer;
  }
  .custom-card {
    @apply bg-white shadow-md rounded-lg p-4;
  }
  .custom-input {
    @apply border rounded-md p-2 w-full;
  }
  .custom-select {
    @apply border rounded-md p-2 w-full;
  }
  .custom-textarea {
    @apply border rounded-md p-2 w-full h-32;
  }
  .custom-button {
    @apply border rounded-sm p-1 cursor-pointer bg-gray-200 text-gray-800 font-bold border-gray-300 hover:bg-gray-500;
  }
}
